force-app/main/default/flows/ACME_Lead_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Version 1: Basic Lead to Opportunity automation. Simple lead qualification check and opportunity creation.</description>
    <label>ACME Lead to Opportunity v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Qualification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    
    <!-- Variables -->
    <variables>
        <description>The lead record that triggers this flow</description>
        <name>var_InputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Created opportunity record</description>
        <name>var_NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Account to associate with opportunity</description>
        <name>var_TargetAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Success message for debugging</description>
        <name>var_SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    
    <!-- Formulas -->
    <formulas>
        <description>Calculate close date as 90 days from today</description>
        <name>formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    
    <!-- Decisions -->
    <decisions>
        <description>Check if lead meets basic qualification criteria</description>
        <name>Check_Lead_Qualification</name>
        <label>Check Lead Qualification</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Qualified_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Lead_Is_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_or_Create_Account</targetReference>
            </connector>
            <label>Lead Is Qualified</label>
        </rules>
    </decisions>
    
    <decisions>
        <description>Check if account was found or needs to be created</description>
        <name>Account_Found_Decision</name>
        <label>Account Found?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Account</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_or_Create_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    
    <!-- Record Lookups -->
    <recordLookups>
        <description>Look for existing account by company name</description>
        <name>Find_or_Create_Account</name>
        <label>Find or Create Account</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <recordLookups>
        <description>Get the newly created account record</description>
        <name>Get_Created_Account</name>
        <label>Get Created Account</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <recordLookups>
        <description>Get the newly created opportunity</description>
        <name>Get_Created_Opportunity</name>
        <label>Get Created Opportunity</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <!-- Assignments -->
    <assignments>
        <description>Assign the found account to variable</description>
        <name>Set_Existing_Account</name>
        <label>Set Existing Account</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    
    <assignments>
        <description>Assign the newly created account to variable</description>
        <name>Set_New_Account</name>
        <label>Set New Account</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    
    <assignments>
        <description>Set the output opportunity variable and success message</description>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successfully created opportunity for {!var_TargetAccount.Name} with amount $10,000</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    
    <assignments>
        <description>Set message for non-qualified leads</description>
        <name>Set_Not_Qualified_Message</name>
        <label>Set Not Qualified Message</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead not qualified: Status must be 'Qualified', Company and Email are required</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    
    <!-- Record Creates -->
    <recordCreates>
        <description>Create new account for the lead company</description>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Created_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>var_InputLead.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>var_InputLead.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>var_InputLead.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_InputLead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_InputLead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_InputLead.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_InputLead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>var_InputLead.Country</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <recordCreates>
        <description>Create opportunity from qualified lead</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_Created_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_TargetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>var_InputLead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Opportunity created from qualified lead: {!var_InputLead.FirstName} {!var_InputLead.LastName}</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
</Flow>
