force-app/main/default/flows/ACME_Lead_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Handle account creation failure with detailed error message</description>
        <name>Set_Account_Creation_Error</name>
        <label>Set Account Creation Error</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create account for company. Please verify company name and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProcessSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set target account to the found existing account and mark success</description>
        <name>Set_Existing_Account_Success</name>
        <label>Set Existing Account Success</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountCreationSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set target account to newly created account and mark success</description>
        <name>Set_New_Account_Success</name>
        <label>Set New Account Success</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountCreationSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Handle opportunity creation failure with error details</description>
        <name>Set_Opportunity_Creation_Error</name>
        <label>Set Opportunity Creation Error</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create opportunity. Please check account setup and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProcessSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set final success message and output variables for successful process completion</description>
        <name>Set_Process_Success</name>
        <label>Set Process Success</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_CreatedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successfully created opportunity with $10,000 amount and 90-day close date.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProcessSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set qualification failure message with specific requirements</description>
        <name>Set_Qualification_Error</name>
        <label>Set Qualification Error</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead qualification failed: Status must be Qualified and Company name and Email address are required fields.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProcessSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if existing account was found or if new account creation is required</description>
        <name>Decision_Account_Found</name>
        <label>Account Found Decision</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Account</defaultConnectorLabel>
        <rules>
            <name>Outcome_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Account_Success</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if account creation or lookup was successful before proceeding to opportunity creation</description>
        <name>Decision_Account_Success</name>
        <label>Account Success Decision</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Creation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Failed</defaultConnectorLabel>
        <rules>
            <name>Outcome_Account_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountCreationSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_TargetAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Record</targetReference>
            </connector>
            <label>Account Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprehensive lead qualification check including status, company name, and email validation</description>
        <name>Decision_Lead_Qualification</name>
        <label>Lead Qualification Decision</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Qualification_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Outcome_Lead_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Account</targetReference>
            </connector>
            <label>Lead Qualified</label>
        </rules>
    </decisions>
    <description>Version 2: Enhanced Lead to Opportunity automation with comprehensive error handling, defensive coding practices, and ACME Corporation development standards compliance. Includes robust validation, detailed error messages, and proper variable management.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate opportunity close date as 90 days from current date</description>
        <name>Formula_Close_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>ACME Lead to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACME Lead to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new account record with comprehensive field mapping from lead data</description>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_New_Account_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Account_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_InputLead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>var_InputLead.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_InputLead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_InputLead.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_InputLead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>var_InputLead.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>var_InputLead.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>var_InputLead.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create opportunity record with professional naming and proper field assignments</description>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Process_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Opportunity_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_TargetAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Formula_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Opportunity automatically created from qualified lead through ACME Lead to Opportunity automation process.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>var_InputLead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Business Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Search for existing account by exact company name match to avoid duplicate account creation. Update record later.</description>
        <name>Get_Existing_Account</name>
        <label>Get Existing Account</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Lead_Qualification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Boolean flag to track successful account creation or lookup for defensive coding</description>
        <name>var_AccountCreationSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Output variable containing the ID of the successfully created opportunity record</description>
        <name>var_CreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Detailed error message for troubleshooting failed automation processes</description>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input lead record that triggers the automation process - must be qualified status</description>
        <name>var_InputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Boolean flag indicating overall process success or failure for integration purposes</description>
        <name>var_ProcessSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Success message confirming successful completion of lead to opportunity conversion</description>
        <name>var_SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Target account ID for opportunity association - either found existing or newly created account ID</description>
        <name>var_TargetAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
