force-app/main/default/flows/ACME_Lead_to_Opportunity_v2_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Company_Score</name>
        <label>Add Company Score</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Large company size (+20 points). </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Score</name>
        <label>Add Email Score</label>
        <locationX>176</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Corporate email domain (+10 points). </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Title_Seniority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Industry_Score</name>
        <label>Add Industry Score</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Target industry match (+15 points). </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Source_Score</name>
        <label>Add Source Score</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>High-quality lead source (+10 points). </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Base_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Title_Score</name>
        <label>Add Title Score</label>
        <locationX>176</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Senior decision maker title (+15 points). </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Company_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Base_Score</name>
        <label>Calculate Base Score</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Base qualification criteria met (+20 points). Final Score: {!var_LeadScore}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Priority_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Score</name>
        <label>Initialize Score</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QualificationNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead qualification analysis: </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Domain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_New_Account</name>
        <label>Prepare New Account</label>
        <locationX>440</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>var_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Variables</name>
        <label>Set Account Variables</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hot_Priority</name>
        <label>Set Hot Priority</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>var_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Notification_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Account_Variables</name>
        <label>Set New Account Variables</label>
        <locationX>440</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Notification_Message</name>
        <label>Set Notification Message</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!var_Priority} Priority Lead: {!$Record.FirstName} {!$Record.LastName} from {!$Record.Company} (Score: {!var_LeadScore}) - Estimated Value: ${!var_OpportunityAmount}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Priority</name>
        <label>Set Standard Priority</label>
        <locationX>302</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>var_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Notification_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Warm_Priority</name>
        <label>Set Warm Priority</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>var_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Notification_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>176</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_QualificationNotes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Basic_Qualification_Check</name>
        <label>Basic Qualification Check</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Meets_Basic_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Score</targetReference>
            </connector>
            <label>Meets Basic Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Company_Size</name>
        <label>Check Company Size</label>
        <locationX>176</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Check_Industry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Small Company</defaultConnectorLabel>
        <rules>
            <name>Large_Company</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Score</targetReference>
            </connector>
            <label>Large Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Domain</name>
        <label>Check Email Domain</label>
        <locationX>176</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Check_Title_Seniority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Personal Email</defaultConnectorLabel>
        <rules>
            <name>Corporate_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Score</targetReference>
            </connector>
            <label>Corporate Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Industry</name>
        <label>Check Industry</label>
        <locationX>176</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Industry</defaultConnectorLabel>
        <rules>
            <name>Target_Industry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Industry_Score</targetReference>
            </connector>
            <label>Target Industry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>176</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Calculate_Base_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Source</defaultConnectorLabel>
        <rules>
            <name>High_Quality_Source</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Source_Score</targetReference>
            </connector>
            <label>High Quality Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Title_Seniority</name>
        <label>Check Title Seniority</label>
        <locationX>176</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Check_Company_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Title</defaultConnectorLabel>
        <rules>
            <name>Senior_Title</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>President</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Title_Score</targetReference>
            </connector>
            <label>Senior Title</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Priority_Level</name>
        <label>Determine Priority Level</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Set_Standard_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Hot_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hot_Priority</targetReference>
            </connector>
            <label>Hot Lead (70+ points)</label>
        </rules>
        <rules>
            <name>Warm_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Warm_Priority</targetReference>
            </connector>
            <label>Warm Lead (50-69 points)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Account</name>
        <label>Find Existing Account</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Prepare_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Account</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Variables</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <label>ACME Lead to Opportunity v2.1 (Simplified)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>440</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Set_New_Account_Variables</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$Record.AnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Account created from qualified lead conversion - {!var_QualificationNotes}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Update_Lead_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>var_OpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Opportunity created from qualified lead conversion. Priority: {!var_Priority}, Lead Score: {!var_LeadScore}. {!var_QualificationNotes}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!var_AccountName} - {!$Record.FirstName} {!$Record.LastName} Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Account</name>
        <label>Get Existing Account</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Basic_Qualification_Check</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>End_Success</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead successfully qualified and converted to opportunity. 

Priority: {!var_Priority}
Score: {!var_LeadScore}
Opportunity Amount: ${!var_OpportunityAmount}
Account: {!var_AccountName}

{!var_QualificationNotes}</text>
    </textTemplates>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_NotificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_QualificationNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
