force-app/main/default/flows/ACME_Lead_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Calculate lead score based on various factors</description>
        <name>Calculate_Lead_Score</name>
        <label>Calculate Lead Score</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_LeadScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_LeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Lead_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set lead as hot based on score</description>
        <name>Set_Hot_Lead</name>
        <label>Set Hot Lead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_LeadPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NotificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>🔥 HOT LEAD ALERT: {!var_InputLead.FirstName} {!var_InputLead.LastName} from {!var_InputLead.Company} - Score: {!var_LeadScore}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_or_Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set lead as warm based on score</description>
        <name>Set_Warm_Lead</name>
        <label>Set Warm Lead</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_LeadPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NotificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>⚡ WARM LEAD: {!var_InputLead.FirstName} {!var_InputLead.LastName} from {!var_InputLead.Company} - Score: {!var_LeadScore}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_or_Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set lead as standard priority</description>
        <name>Set_Standard_Lead</name>
        <label>Set Standard Lead</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_LeadPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NotificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>📋 New qualified lead: {!var_InputLead.FirstName} {!var_InputLead.LastName} from {!var_InputLead.Company} - Score: {!var_LeadScore}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_or_Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the found account to variable</description>
        <name>Set_Existing_Account</name>
        <label>Set Existing Account</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the newly created account to variable</description>
        <name>Set_New_Account</name>
        <label>Set New Account</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_TargetAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set message for non-qualified leads</description>
        <name>Set_Not_Qualified_Message</name>
        <label>Set Not Qualified Message</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead not qualified: Status must be 'Qualified', Company and Email are required</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the output opportunity variable and success message</description>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>var_NewOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SuccessMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successfully created {!var_LeadPriority} priority opportunity for {!var_TargetAccount.Name} with amount ${!var_OpportunityAmount} (Lead Score: {!var_LeadScore}). Notification: {!var_NotificationMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if account was found or needs to be created</description>
        <name>Account_Found_Decision</name>
        <label>Account Found?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Account</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_or_Create_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if lead meets basic qualification criteria</description>
        <name>Check_Lead_Qualification</name>
        <label>Check Lead Qualification</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Qualified_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Qualified</defaultConnectorLabel>
        <rules>
            <name>Lead_Is_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputLead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Lead_Score</targetReference>
            </connector>
            <label>Lead Is Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine lead priority based on calculated score</description>
        <name>Determine_Lead_Priority</name>
        <label>Determine Lead Priority</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Standard_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Priority</defaultConnectorLabel>
        <rules>
            <name>Hot_Lead_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hot_Lead</targetReference>
            </connector>
            <label>Hot Lead (Score >= 80)</label>
        </rules>
        <rules>
            <name>Warm_Lead_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LeadScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Warm_Lead</targetReference>
            </connector>
            <label>Warm Lead (Score 60-79)</label>
        </rules>
    </decisions>
    <description>Version 2: Enhanced Lead to Opportunity automation with intelligent lead scoring, priority-based notifications, and dynamic opportunity amounts based on lead quality.</description>
    <formulas>
        <description>Calculate close date as 90 days from today</description>
        <name>formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <description>Calculate lead score based on multiple factors</description>
        <name>formula_LeadScore</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <expression>/* Base score */
20 +

/* Industry bonus */
CASE({!var_InputLead.Industry},
  "Technology", 25,
  "Financial Services", 20,
  "Healthcare", 15,
  "Manufacturing", 10,
  5
) +

/* Lead Source bonus */
CASE({!var_InputLead.LeadSource},
  "Web", 20,
  "Partner Referral", 25,
  "Trade Show", 15,
  "Advertisement", 10,
  5
) +

/* Annual Revenue bonus */
IF(ISNULL({!var_InputLead.AnnualRevenue}), 0,
  IF({!var_InputLead.AnnualRevenue} >= 10000000, 25,
    IF({!var_InputLead.AnnualRevenue} >= 1000000, 20,
      IF({!var_InputLead.AnnualRevenue} >= 100000, 15,
        IF({!var_InputLead.AnnualRevenue} >= 10000, 10, 5)
      )
    )
  )
) +

/* Number of Employees bonus */
IF(ISNULL({!var_InputLead.NumberOfEmployees}), 0,
  IF({!var_InputLead.NumberOfEmployees} >= 500, 20,
    IF({!var_InputLead.NumberOfEmployees} >= 100, 15,
      IF({!var_InputLead.NumberOfEmployees} >= 50, 10,
        IF({!var_InputLead.NumberOfEmployees} >= 10, 5, 0)
      )
    )
  )
)</expression>
    </formulas>
    <label>ACME Lead to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new account for the lead company</description>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_Created_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>var_InputLead.AnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_InputLead.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>var_InputLead.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_InputLead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_InputLead.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_InputLead.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>var_InputLead.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>var_InputLead.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>var_InputLead.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>var_InputLead.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create opportunity from qualified lead with dynamic amount</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Get_Created_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_TargetAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>var_OpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Opportunity created from {!var_LeadPriority} priority qualified lead: {!var_InputLead.FirstName} {!var_InputLead.LastName} (Lead Score: {!var_LeadScore})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>var_InputLead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!var_InputLead.Company} - {!var_LeadPriority} Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Look for existing account by company name</description>
        <name>Find_or_Create_Account</name>
        <label>Find or Create Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputLead.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the newly created account record</description>
        <name>Get_Created_Account</name>
        <label>Get Created Account</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the newly created opportunity</description>
        <name>Get_Created_Opportunity</name>
        <label>Get Created Opportunity</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Qualification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The lead record that triggers this flow</description>
        <name>var_InputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Lead priority (Hot, Warm, Standard)</description>
        <name>var_LeadPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Calculated lead score</description>
        <name>var_LeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Created opportunity record</description>
        <name>var_NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Notification message based on lead priority</description>
        <name>var_NotificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Dynamic opportunity amount based on lead priority</description>
        <name>var_OpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Success message for debugging</description>
        <name>var_SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account to associate with opportunity</description>
        <name>var_TargetAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
