force-app/main/default/flows/Bicycle_Price_Tier_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Price_Tier</name>
        <label>Check Price Tier</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tier 3 (Under $500)</defaultConnectorLabel>
        <rules>
            <name>Is_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_1</targetReference>
            </connector>
            <label>Tier 1 ($1,000+)</label>
        </rules>
        <rules>
            <name>Is_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_2</targetReference>
            </connector>
            <label>Tier 2 ($500–$999.99)</label>
        </rules>
    </decisions>
    <description>Automatically sets the Price Tier field on a Bicycle record based on its Price.</description>
    <interviewLabel>Bicycle Price Tier Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bicycle Price Tier Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Tier_1</name>
        <label>Set Tier 1</label>
        <locationX>0</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Tier__c</field>
            <value>
                <stringValue>Tier 1</stringValue>
            </value>
        </inputAssignments>
        <object>Bicycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Tier_2</name>
        <label>Set Tier 2</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Tier__c</field>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </inputAssignments>
        <object>Bicycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Tier_3</name>
        <label>Set Tier 3</label>
        <locationX>352</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Tier__c</field>
            <value>
                <stringValue>Tier 3</stringValue>
            </value>
        </inputAssignments>
        <object>Bicycle__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Price_Tier</targetReference>
        </connector>
        <object>Bicycle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
