force-app/main/default/flows/Calculate_Opportunity_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Close_Date</name>
        <label>Set Close Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Close_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Close_Date_Needs_Calculation</name>
        <label>Check If Close Date Needs Calculation</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Close Date Already Set</defaultConnectorLabel>
        <rules>
            <name>Close_Date_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date</targetReference>
            </connector>
            <label>Close Date Is Empty</label>
        </rules>
    </decisions>
    <description>Automatically calculates the Opportunity Close Date based on the First Demo date. Sets Close Date to 30 days after First Demo if not already set.</description>
    <formulas>
        <name>Calculate_Close_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.First_Demo__c} + 30</expression>
    </formulas>
    <interviewLabel>Calculate Opportunity Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Opportunity Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Close_Date_Needs_Calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Demo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
