force-app/main/default/flows/Lead_Income_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Income_To_Total</name>
        <label>Add Income To Total</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTotalIncome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentIncomeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncomeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncomeDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varCurrentIncomeType}: {!varCurrentIncomeAmount}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Another_Income_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Values</name>
        <label>Clear Current Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCurrentIncomeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentIncomeType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Income_Collection_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Income_Type_Business</name>
        <choiceText>Business Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>Income_Type_Investment</name>
        <choiceText>Investment Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investment Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>Income_Type_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Income_Type_Rental</name>
        <choiceText>Rental Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rental Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>Income_Type_Salary</name>
        <choiceText>Salary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salary</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Another_Income_Decision</name>
        <label>Add Another Income?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Entries</defaultConnectorLabel>
        <rules>
            <name>Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddAnother</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Current_Values</targetReference>
            </connector>
            <label>Add More</label>
        </rules>
    </decisions>
    <description>Collects multiple income entries with amount and type, then updates the Lead record</description>
    <formulas>
        <name>varIncomeDetailsText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varIncomeDetails}, &quot;;&quot;, &quot;\n&quot;)</expression>
    </formulas>
    <interviewLabel>Lead Income Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Income Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Income_Collection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varTotalIncome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varIncomeCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varIncomeDetailsText</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Income_Collection_Screen</name>
        <label>Income Collection Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Income_To_Total</targetReference>
        </connector>
        <fields>
            <name>Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Income Information Collection&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter income information for this lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Entries_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Entries: {!varIncomeCount}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Total Income So Far: {!varTotalIncome}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varIncomeCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Income_Type_Field</name>
            <choiceReferences>Income_Type_Salary</choiceReferences>
            <choiceReferences>Income_Type_Business</choiceReferences>
            <choiceReferences>Income_Type_Investment</choiceReferences>
            <choiceReferences>Income_Type_Rental</choiceReferences>
            <choiceReferences>Income_Type_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Income Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Income_Amount_Field</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varCurrentIncomeAmount</elementReference>
            </defaultValue>
            <fieldText>Income Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Add_Another_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Add another income source?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddAnother</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentIncomeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentIncomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIncomeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varIncomeDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalIncome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
