force-app/main/default/flows/Lead_Industry_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_To_Matched_Rep</name>
        <label>Assign To Matched Rep</label>
        <locationX>56</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssignmentRule.Assignee_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_To_Unassigned_Queue</name>
        <label>Assign To Unassigned Queue</label>
        <locationX>296</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUnassignedQueueId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Rule_Found</name>
        <label>Check If Rule Found</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Assign_To_Unassigned_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match — Use Fallback</defaultConnectorLabel>
        <rules>
            <name>Rule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignmentRule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Matched_Rep</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <description>Record-Triggered Before-Save Flow on Lead. Queries Lead_Industry_Assignment__mdt to assign OwnerId based on the Lead Industry field. Falls back to the Unassigned Queue if no match is found.</description>
    <label>Lead Industry Assignment Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Industry_Assignment_Rule</name>
        <label>Get Industry Assignment Rule</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Rule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Industry</elementReference>
            </value>
        </filters>
        <object>Lead_Industry_Assignment__mdt</object>
        <outputReference>varAssignmentRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignee_Id__c</queriedFields>
        <queriedFields>Industry_Value__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Industry_Assignment_Rule</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAssignmentRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Industry_Assignment__mdt</objectType>
    </variables>
    <variables>
        <name>varUnassignedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G000000000000AAA</stringValue>
        </value>
    </variables>
</Flow>
